#one:after{
content:':;№;!;))КЕ';
}
#one:hover:after{
content:'А ЗНАЕШЬ ЛИ ...';
}
#two:after{
content:'+++++ loading LINUX -------';
}
#two:hover:after{
content:'Что_?';
}
#three:after{
content:'+++++++';
}
#three:hover:after{
content:' :)';
}
#four:after{
content:'VOT ETO DDos!!!!!';
}
#four:hover:after{
content:'Спо ссылке - ЖМИ';
}
h1{
color:#00FFFF;
}
a{
color:#FF1493;
}
a:link{
text-decoration:bold;
}
a:hover{
text-decoration:bold;
}
h1:after{
content:'W++ARNING!;;;+++++';
}
h1:hover:after{
content:'ВВОТ ЦЕЛЫЙ САЙТ ДЛЯ ВАС НАПИСАЛ';
}
html{
background-image:url(background.png);
background-position:50,50;
margin:0;
overflow:hidden:
}
body{
margin:0;
background-image:url(https://gitlab.com/rutronix/teletype/blob/master/50893-blue-light-in-the-middle-of-the-nebula-1920x1080-space-wallpaper__1_.jpg);
height:100vh;
width:100vw;
overflow:hidden;
padding-top:0.01vh;
}
section{
margin-left:2vw;
margin-right:2vw;
margin-top:1vh;
margin-bottom:1vh;
border-left:#882525 0.5vw solid;
border-right:#882525 0.5vw solid;
border-top:#882525 1vh solid;
border-bottom:#882525 1vh solid;
background:rgba(50,50,50,0.5);
padding:2vh;
overflow:hidden;
height:92vh;
font-family:courier;
}
